@font-face {
  font-family: SpaceX;
  src: url("../font/Atures300PersonalUseOnly.ttf");
  src: url("../font/Atures300PersonalUseOnly.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: SpaceX;
  src: url("../font/Atures900PersonalUseOnly.ttf");
  src: url("../font/Atures900PersonalUseOnly.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: SpaceX;
  src: url("../font/Atures300PersonalUseOnly.ttf");
  src: url("../font/Atures300PersonalUseOnly.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: SpaceX;
  src: url("../font/Atures500PersonalUseOnly.ttf");
  src: url("../font/Atures500PersonalUseOnly.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: SpaceX;
  src: url("../font/Atures700PersonalUseOnly.ttf");
  src: url("../font/Atures700PersonalUseOnly.ttf") format("truetype");
  font-weight: 700;
}
