/** Font **/
@import "./Assets/css/font.css";

/** Reset css **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "SpaceX", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 3rem;
}

h1,
h2,
h3 {
  line-height: 3rem;
  color: #aaa;
}

h4,
h5,
p {
  line-height: 2rem;
  color: #fff;
  font-weight: 500;
}
